[Unit]
Description=Packet Filtering Framework
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=@SBINDIR@/nft -f /etc/nftables/nftables.rules
ExecReload=@SBINDIR@/nft -f /etc/iptables/nftables.rules
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

